Repository react-native-share/react-native-share, pull requests merged in 2019-07, with the labels that each got.

#535 Facebook, Twitter and Instagram shareSingle - Fix on iOS 11
  ios/GenericShare.h
  ios/GenericShare.m
  ios/InstagramShare.h
  ios/InstagramShare.m
  ios/RNShare.m
Labels: bug, os: ios

#538 Add type to style and overlayStyle
  index.js
Labels: enhancement

#539 Improve tests and simplify example setup
  .circleci/config.yml
  .flowconfig
  .npmignore
  circle.yml
  example/.flowconfig
  example/App.js
  example/README.md
  example/android/settings.gradle
  example/ios/example.xcodeproj/project.pbxproj
  example/metro.config.js
  example/package.json
  example/yarn.lock
  index.js
  package.json
Labels: enhancement

#550 AndroidX libraries and react-native@0.60.0+ support
  README.md
  android/src/main/java/cl/json/RNShareFileProvider.java
  android/src/main/java/cl/json/RNShareModule.java
  android/src/main/java/cl/json/RNSharePathUtil.java
  example/.flowconfig
  example/android/app/src/main/AndroidManifest.xml
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: os: android

#546 Add feature to use SingleShare to open WhatsApp chat screen from an App by passing whats mobile number of user.
  README.md
  android/src/main/java/cl/json/social/ShareIntent.java
Labels: os: android, whatsapp

#554 setting warning about using whatsnumber on Share.single
  README.md
Labels: docs
